@import "tailwindcss";

@keyframes loading-bar {
  0% { width: 0%; }
  25% { width: 30%; }
  50% { width: 60%; }
  75% { width: 85%; }
  100% { width: 100%; }
}

.animate-loading-bar {
  animation: loading-bar 1s ease-in-out infinite;
}